table {
	border: 3px solid silver;
}

td:hover {
	background-color: yellow;
	color: green;
}
tr, th { #
	background-color: orange;
	color: white;
}
tr, td { 
	background-color: darkgreen;
	color: yellow;
}
	